*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

  
  .wrapper {
    position: relative;
    background-image: linear-gradient(rgba(0,0,0,0.8) 30% , rgba(0,0,0,0.3) 40%, rgba(0,0,0,0.8)),url("./image/netflix.jpg" );
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    font-family: Nunito, sans-serif;
    overflow: hidden;
  }
  
  .background {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .background--vid {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  main {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: flex;
    width: 950px;
    height: min-content;
    border-radius: 20px;
    padding: 15px;
    zoom: 0.9;
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  
  .card__image-container {
    overflow: hidden;
    height: 100%;
    width: 1200px;
    display: inline-block;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    overflow: hidden;
    flex: 1;
  }
  
  @-webkit-keyframes slide_animation {
    0% {
      left: 0px;
    }
    10% {
      left: 0px;
    }
    20% {
      left: 1200px;
    }
    30% {
      left: 1200px;
    }
    40% {
      left: 2400px;
    }
    50% {
      left: 2400px;
    }
    60% {
      left: 1200px;
    }
    70% {
      left: 1200px;
    }
    80% {
      left: 0px;
    }
    90% {
      left: 0px;
    }
    100% {
      left: 0px;
    }
  }
  
  .slide-images {
    width: 3600px;
    height: 800px;
    margin: 0 0 0 -2800px;
    position: relative;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 30s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
  }
  
  a:hover {
    text-decoration-color: darkorange;
    text-decoration-thickness: 3px;
  }
  
  .card__image-container img {
    position: relative;
    float: left;
    object-fit: contain;
    height: 800px;
    width: 1200px;
  }
  
  form {
    padding: 50px 80px 80px;
    flex: 1;
    display: inline-block;
  }
  
  .creator {
    text-align: center;
  }
  
  .creator span {
    color: red;
  }
  
  form :is(h2, a) {
    text-align: center;
    margin: 25px auto;
    color: #fff;
  }
  
  input:not([type="checkbox"], [type="submit"]) {
    width: 100%;
    border: transparent;
    border-radius: 10px;
    height: 50px;
    margin: 15px auto;
    padding-left: 60px;
    color: #fff;
    background-color: rgba(150, 150, 150, 0.5);
  }
  
  input::placeholder {
    color: #fff;
  }
  
  .inp-1 {
    width: 100%;
    position: relative;
    font-size: 1.1rem;
  }
  .far,
  .fas {
    position: absolute;
    top: 31px;
    left: 20px;
  }
  
  .inp-2 {
    margin: 10px auto 20px;
  }
  
  .inp--checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
  input[type="checkbox"] {
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.3); /* IE */
    -moz-transform: scale(1.3); /* FF */
    -webkit-transform: scale(1.3); /* Safari and Chrome */
    -o-transform: scale(1.3); /* Opera */
    transform: scale(1.3);
    margin-right: 5px;
  }
  
  h2 {
    font-size: 2rem;
    margin-top: 0;
  }
  
  label {
    font-size: 0.8rem;
  }
  
  hr {
    margin: 35px auto;
    width: 95%;
  }
  
  a {
    /* width: 100%; */
    text-align: center;
    display: block;
  }
  
  button[type="submit"] {
    display: block;
    width: 100%;
    border-radius: 50px;
    height: 50px;
    margin: 25px auto;
    border: none;
    color: #fff;
    font-weight: bold;
    background: #bbd2c5; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #536976,
      #bbd2c5
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #536976,
      #bbd2c5
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
    border: none;
    cursor: pointer;
    transition: 500ms;
    overflow: hidden;
    z-index: 1;
  }
  input {
    outline: none;
    transition: 0.5s;
  }
  input:focus {
    box-shadow: 0 0 10px rgba(81, 203, 238, 1);
    /* padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px; */
    border: 1px solid rgba(81, 203, 238, 1);
  }
  
  .btn-13:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    background: #8a2387; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #f27121,
      #e94057,
      #8a2387
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #f27121,
      #e94057,
      #8a2387
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
    transition: all 0.5s ease;
  }
  
  .btn-13:hover:after {
    top: 0;
    height: 100%;
  }
  .btn-13:active {
    top: 2px;
  }
  
  .custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: 900;
    font-size: 1.15rem;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
  }


  
  @media (max-width: 800px) {
    main {
      align-items: stretch;
      display: flex;
      flex-direction: row;
      position: static;
      width: 100%;
      position: relative;
    }
    form {
      padding: 0px 30px 0px;
      flex: 3;
    }
    .card__image-container {
    }
  }
  @media (max-width: 400px) {
    .card__image-container {
      display: none;
    }
  }